.radio-group-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -60px;
    margin-bottom: 5px;

}

.radio-group-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    margin-bottom: 5px;

}

.delete-button {
    padding-top: 15px;
}

.multiple-team-members-button {
    padding-top: 15px;
}

.end-button-1 {
    padding-right: 15px;
    margin-top: 5px;
}

.end-button-2 {
    margin-right: 15px;
    margin-top: 10px;
}

.start-button-1 {
    padding-top: -500px;
    padding-left: 20px;
}

.start-button-2 {
    padding-top: -500px;
    margin-left: 10px;
}

.fixed-width-input {
    width: 190px; /* adjust this value to suit your needs */
}
