.radio-group-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -60px;
    margin-bottom: 5px;

}

.radio-group-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    margin-bottom: 5px;

}

.radio-group-record-type {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 75px;
    margin-bottom: 10px;
}

.delete-button {
    padding-top: 15px;
}

.multiple-team-members-button {
    padding-top: 15px;
}

.end-button-1 {
    padding-right: 15px;
    margin-top: 5px;
}

.end-button-2 {
    margin-right: 15px;
    margin-top: 5px;
}

.start-button-1 {
    padding-top: -500px;
    padding-left: 20px;
}

.start-button-2 {
    padding-top: -500px;
    margin-left: 10px;
}

.fixed-width-input {
    width: 190px; /* adjust this value to suit your needs */
}

.
.total-amount-approved {
    padding-top: 15px;
    padding-left: 20px;
}

.total-amount-spent-in-pending {
    padding-top: 5px;
    padding-left: 20px;
}

.total-in-pending-color {
    color: red;
}

.square {
    width: 400px; /* Adjust the width and height as per your requirements */
    height: 85px;
    background-color: black;
    color: white;
    /*padding: 20px;  /* Adjust the padding as needed */
  }

  .square p {
    margin: 0; /* Remove default margin from paragraphs */
  }

  .green-text {
    color: white;
    background-color: #026202;
  }
  .red-text {
    color: white;
    background-color: #c70909;
  }

  .blue-text {
    color: white;
    background-color: #0a2e8c;
  }

